includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - config
        - resources
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

